@font-face {
    font-family: 'Open-Dyslexia';
    src: url('Fonts/OpenDyslexic-Regular.otf');  
}

:root {
    --bs-blue: #5299D3;

    --main-font: 'Lexend', sans-serif;
    --main-spac: auto;
    --main-line-height: auto;

    --Dys-font: 'Open-Dyslexia', sans-serif;
    --Dys-spac: 250%;
    --Dys-line-height: 200%;

    --Ser-font: "Times New Roman", serif;
    --main-spac: auto;
    --main-line-height: auto;

    --main-size: auto;
    --large-size: 180%
}

body {
    background-color: #272727;
    overflow-x: hidden;
    margin-top: auto;

    font-family: var(--main-font);
    word-spacing: var(--main-spac);
    line-height: var(--main-line-height);
    font-size: var(--main-size);
}

model-viewer {

    height: 100vh; 
    width:  100vw; 
    --poster-color: #3b3b3b;
    
}


.card {
    margin: 2%;
    height: auto;
    background-color: #4A525A;
    margin-left: 15%;

}

.bi
{
    display: inline-block; 
    position: relative; 
    
}

.collapse {
    overflow: auto;
}

.lead {
    color: #1DD3B0;
}

p{
    color: #F7F0F0;
    
}

h1{
    color: #1DD3B0;
    text-align: left;
}

h2{
    color: #1DD3B0;
    text-align: center;
}

h5{
    color: #5299D3;
    margin: 2%;
    text-align: left;
}

button{
    margin: 5px;
}

#des-card{
    z-index: 10;
    position: fixed;
    display: none;
    
    margin-right: 80%;
    margin-left: 5%;
    width: 350px;
    height: 250px;
    

    background-color: #24272B;
}

#DS-card{
    z-index: 10;
    position: fixed;
    display: none;
    
    margin-right: 80%;
    margin-left: 2%;
    width: 450px;
    height: 60%;

    overflow-y: auto;
    

    background-color: #24272B;
}

#options-menu{
    background-color: #24272B;
}

#menu{
    z-index: 1;
    position: fixed;
    top: 80%;
    left: 1%;
    right: 99%;
    bottom: 20%;
    width: 50px;
    height: 50px;
    
    border-radius: 25px;
    
    text-align: center;

    background-color: #24272B;
    padding: 3px 5px;
    
}


/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
    display: none;
  }

#annotation{
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
    background-color: #F7F0F0;
}

#button-model{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
  }

button[slot="hotspot-spot"]{
    --min-hotspot-opacity: 0;
    background-color: #5299D3;
  }
  
  .hide{
    display: none;
  }

iframe
{
    width: 100%;
    height: 100vh;
}

.slider{
    color: #1DD3B0;
}

button{
    --min-hotspot-opacity: 0;
  }



