body {
    background-color: #272727;
    overflow-x: hidden;
    overflow-y: hidden;
}

model-viewer {

    height: 100vh; 
    width:  100vw; 
    
}

.card {
    margin: 2%;
    height: auto;
    background-color: #4A525A;;
    

}

p{
    color: #F7F0F0;
    font-size: 0.5em;
}

h1{
    color: #5299D3;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

h5{
    color: #5299D3;
    margin: 2%;
    text-align: left;
}

button{
    margin: 5px;
}

#options-menu{
    background-color: #24272B;
}

#menu{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 1%;
    right: 99%;
    bottom: 50%;

    width: 5%;
    height: 5%;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
    
}


